body {
  overflow-x: none;
}
.book_holder {
  display: flex;
  width: 440px;
  height: 500px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 0 1px #eee;
  margin: 10px;
  flex-direction: column;
  border-radius: 15px;
  justify-content: flex-start;
  align-content: center;
}
.listing_section {
  display: flex;
  flex-direction: row;
  width: 97vw;
  flex-wrap: wrap;
  overflow: unset;
  align-items: center;
}
.cover_image {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}
.title {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  color: #4f4e4e;
  width: 400px;
  float: left;
}

.subject {
  padding: 5px;
}
.seperator {
  width: 100vw;
  margin: 1px;
  box-shadow: 1px 0px 1px 1px #d1cdcd;
  float: right;
}
.search {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  float: right;
  border: 1px solid #4f4e4e;
  padding: 0 5px;
}
.log_head {
  float: left;
}
.upload_button {
  background-color: #1d8adb;
  color: #fff;
  width: 138px;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  float: right;
  margin: 0 10px;
  border: 1px solid #eee;
}
.upload_icon {
  width: 40px;
  height: 40px;
}
.profile_icon {
  width: 45px;
  height: 45px;
}
.profile {
  width: 45px;
  height: 45px;
  float: right;
}
.upload_section {
  position: absolute;
  width: 90vw;
  height: 99vh;
  border: 1px solid #eee;
  box-shadow: 1px 1px 0 1px #eee;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  top: 10vh;
  left: 10vh;
  display: none;
}
/* .upload_submit {
    background-color: #1d8adb;
    color: #fff;
    width: 138px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    float: center;
    margin: 0 10px;
    border: 1px solid #eee;

  } */
